#Termo p{
    text-align: center;
}

#Termo input{
    width: 50px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    margin: 1px;
}

#Termo .linha{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}